/* For Mobile */
@media screen and (max-width: 540px) {
  .map {
    width: 100%;
    height: 40vh;
  }
}

@media screen and (min-width: 540px) {
  .map {
    width: 100%;
    height: 80vh;
  }
}

.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}